.popup__input-error {
    min-height: 24px;
    margin: 5px 0 0 0;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}